In [14]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
cnx = sqlite3.connect('clean.db')
df = pd.read_sql_query("SELECT * FROM data", cnx)

In [8]:
df

                      timestamp            key              value
0    2022-05-17 19:39:00.393925            RPM             910.75
1    2022-05-17 19:39:05.396180       OIL_TEMP                -22
2    2022-05-17 19:39:05.523760  FUEL_PRESSURE                 54
3    2022-05-17 19:39:10.396713   COOLANT_TEMP                 23
4    2022-05-17 19:39:10.521684            RPM             909.25
..                          ...            ...                ...
818  2022-05-17 23:43:40.892380   COOLANT_TEMP                 76
819  2022-05-17 23:43:42.496643       OIL_TEMP                -22
820  2022-05-17 23:43:42.735889  FUEL_PRESSURE                 54
821  2022-05-17 23:43:47.446993            RPM            1026.25
822  2022-05-17 23:43:47.598426    ENGINE_LOAD  4.313725490196078

[823 rows x 3 columns]

In [9]:
vars = df.groupby(df.key)
vars

In [22]:
for var in vars.groups:
    vars.get_group(var).to_csv('data/' + str(var) + '.csv')